:root {
    --a1: #2C5959;
    --a2: #cf959d;
    --a3: #CA2E55;
    --a4: #D5A021;
    --a5: #E5D0CC;  
}

*{
    color: black;
}

body {
    background-color: var(--a4) ;
}

#head {
    font-family: 'Oswald', sans-serif;
    font-weight bolder ;
    font-size: xx-large;
 text-align: center;
    text-shadow:  1px 1px #61a8b5 ;
    background-color: var(--a5);
    margin-top: 20px;
    margin-bottom: 20px;
    
}
#hero {
    margin-bottom: 20px;

}
h1 {
    
    font-family: 'Nanum Pen Script', cursive;;
    text-align: center;
    text-size-adjust: ;
    background-color: var(--a5);
}


.panel {
    background-color: var(--a1);
    font-family: 'Bangers', cursive;
    
}

.panel-block {
    color: white;
    font-family: 'Bangers', cursive;
}

#dog {
    max-width: 50vw;
}


.button {
    background-color: var(--a3);
    
}

.rs {
    margin-top: 30px;
    background-color: var(--a2);
   
} 

#logo {
    width: 30px;
    font-family: 'Bangers', cursive;  
}

.about-us {
    text-align: center;
}
/* font-family: 'Coming Soon', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Lato', sans-serif; */