ul li:nth-child(odd) {
    background-color: lightgrey;
}

.letter-section {
    border-bottom-style: solid;
}

ul {
    display: none;
    transition: all 0.1s ease-in-out;
}

.is-open ul {
    display: block;
}